<!--画面サイズmd以上-->
<div>
  <div class="card-body">
    <%= image_tag user.profile_image.url, class: "profile-image", size: "200x200" %>
    <div class="users-box__profile">
      <p class="users-box__profile__user-name">
        <%= link_to user.name, user, class:"text-dark"%>
        <%= render 'users/follow_form', user: user%>
      </p>
    </div>
  </div>
</div>
<div class="users-box__posts">
  <% user.posts.first(4).each do |post| %>
    <%= link_to(post, class: "users-box__posts__link", remote: true,) do %>
      <%= image_tag post.image[0].thumb.url, class: "users-box__posts__image" %>
    <% end %>
  <% end %>
</div>

    <!--画面サイズsm以下-->
<div class="card border-0 col-12 d-block d-sm-none">
  <div class="card-body">
    <%= image_tag user.profile_image.url, class: "profile-image", size: "30x30" %>
    <div class="users-box__profile">
      <p class="users-box__profile__user-name">
        <%= link_to user.name, user, class:"text-dark"%>
        <%= render 'users/follow_form', user: user%>
      </p>
    </div>
  </div>
</div>
<div class="users-box__posts">
  <% user.posts.first(4).each do |post| %>
    <%= link_to(post, class: "users-box__posts__link", remote: true,) do %>
      <%= image_tag post.image[0].thumb.url, class: "users-box__posts__image" %>
    <% end %>
  <% end %>
</div>