<div class="gtco-section">
		<div class="gtco-container">
			<div class="row">
				<div class="gtco-heading text-center">
					<h2>Log-in</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus placerat enim et urna sagittis, rhoncus euismod erat tincidunt. Donec tincidunt volutpat erat.</p>
				</div>
			</div>
		<div>
			<div>
				<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
				<%= render "devise/shared/error_messages", resource: resource %>
					<div class="form-group">
						<label for="name">Email</label>
						<%= f.email_field :email, class:"form-control", autofocus: true, autocomplete: "email", placeholder: "Enter email" %>
					</div>
					<div class="form-group">
						<label for="name">Password</label>
						<%= f.password_field :password, class:"form-control", autocomplete: "current-password", placeholder: "Password" %>
					</div>
          <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>
					<div class="form-group text-right">
						<%= f.submit 'Login', class:"form-control btn btn-primary btn-lg active"%>
					</div>
				<% end %>
      </div>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.hidden_field :email ,value: "sample@gmail.com" %>
            <%= f.hidden_field :password ,value: "password" %>
          </div>
          <div class="actions" style="width: 150px;">
            <%= f.submit "かんたんログイン", class:"form-control"%>
          </div>
        <% end %>
		</div>
	</div>
</div>